
@model MixupActivity.Models.Dashboard
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <h4>Monthly Payment</h4>
    <div class="card-columns">
        @foreach (var deposit in Model.Deposits)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">
                        <b>
                            @deposit.Person.PersonName
                        </b>
                    </h4>
                    <p class="card-text">
                        EMI : @deposit.Amount
                    </p>
                    <p class="card-text">
                        Self Interest:<b>@deposit.SelfInterest </b>
                    </p>
                    <p class="card-text">
                        External Interest : <b>@deposit.ExternalInterest </b>
                    </p>

                    @*@{ MvcHtmlString edit = Html.ActionLink("<span class='glyphicon glyphicon-pencil'></span>Edit", "Edit", "Withdrawal", new { id = item.TranscationGuid }, new { @class = "btn btn-info btn-sm" }); }*@
                    @{ MvcHtmlString create = Html.ActionLink("<span class='glyphicon glyphicon-pencil'></span> Add", "AutoCreate", "Transactions", new { id = deposit.Person.PersonGuid }, new { @class = "btn btn-primary btn-sm" }); }
                    @Html.Raw(HttpUtility.HtmlDecode(create.ToString()))
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <h4>Investment</h4>
    <div class="card-columns">
        @foreach (var deposit in Model.Investments)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                      
                            @deposit.InvestmentName
                       
                    </h5>
                    <p class="card-text">
                        Amount : <b>@deposit.Amount</b>
                    </p>


                    @*@{ MvcHtmlString edit = Html.ActionLink("<span class='glyphicon glyphicon-pencil'></span>Edit", "Edit", "Withdrawal", new { id = item.TranscationGuid }, new { @class = "btn btn-info btn-sm" }); }*@
                    @{ MvcHtmlString createInv = Html.ActionLink("<span class='glyphicon glyphicon-pencil'></span> Add", "AutoCreate", "Investment", new { investmentName = deposit.InvestmentName }, new { @class = "btn btn-primary btn-sm" }); }
                    @Html.Raw(HttpUtility.HtmlDecode(createInv.ToString()))
                </div>
            </div>
        }
    </div>
</div>


@Styles.Render("~/Content/css")

