@using Microsoft.Ajax.Utilities
@model MixupActivity.Models.Technology

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.TechnologyName)</h2>

<div>
    <hr />
    @if (!Model.TechnologyContents.Any())
    {
        {
            MvcHtmlString label1 = Html.ActionLink("<span class='glyphicon glyphicon-share-alt'></span>Add Content", "Create", "TechnologyContent", null, new { @class = "btn btn-info btn-md" });
            @Html.Raw(HttpUtility.HtmlDecode(label1.ToString()));
        }

    }
    <div class="panel panel-primary">
        @foreach (var item in Model.TechnologyContents)
        {
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-6">
                        @Html.DisplayFor(modelItem => item.Topic)
                    </div>
                    <div class="col-lg-offset-4 col-lg-4 col-sm-4 col-xs-6">
                        <div class="row">
                            <div class="col-lg-4 col-sm-2 col-xs-4">
                                @{ MvcHtmlString label = Html.ActionLink("<span class='glyphicon glyphicon-share-alt'></span>Add Content", "Create", "TechnologyContent", null, new { @class = "btn btn-info btn-md" }); }
                                @Html.Raw(HttpUtility.HtmlDecode(label.ToString()))
                            </div>
                            <div class="col-lg-4 col-sm-2 col-xs-4">


                                @{ MvcHtmlString edit = Html.ActionLink("<span class='glyphicon glyphicon-pencil'></span>Edit Content", "Edit", "TechnologyContent", new { id = item.TechnologyContentGuid }, new { @class = "btn btn-info btn-md" }); }
                                @Html.Raw(HttpUtility.HtmlDecode(edit.ToString()))
                            </div>
                            <div class="col-lg-4 col-sm-2 col-xs-4">

                                @{ MvcHtmlString returnlink = Html.ActionLink("<span class='glyphicon glyphicon-share-alt'></span>Return", "Index", "Technology", null, new { @class = "btn btn-info btn-md" }); }
                                @Html.Raw(HttpUtility.HtmlDecode(returnlink.ToString()))

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body" style="min-height: 600px;">
                @Html.Raw(item.Description)
                <br />
                <br />
                <br />
                <b>
                    @Html.DisplayNameFor(modelItem => item.Example) :
                </b>

                @Html.Raw(item.Example)

                <br />
                <br />
                <br />
                <b>
                    Other Reference:
                </b>
                <br />
                @{
                    string[] links = item.Link.Split(new[] { "\r\n", "\r", "\n", " " }, StringSplitOptions.None);
                    string content = "<ul>";

                    foreach (var link in links)
                    {
                        if (!link.Trim().IsNullOrWhiteSpace())
                        {
                            content += "<li><a target='_blank' href='" + link + "'>" + link + "</a></li>";
                        }
                    }
                    content += "</ul>";
                }
                @Html.Raw(content)
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-2 col-xs-6">
                            @{ MvcHtmlString previous = Html.ActionLink("<span class='glyphicon glyphicon-arrow-left'></span>Previous", "Details", "Technology", new { id = Model.TechnologyGuid, start = (int)ViewBag.previousStart, size = 1 }, new { @class = "btn btn-info btn-md" }); }
                            @Html.Raw(HttpUtility.HtmlDecode(previous.ToString()))
                        </div>
                        <div class="col-lg-offset-9 col-lg-1 col-xs-6">
                            @{ MvcHtmlString next = Html.ActionLink("<span class='glyphicon glyphicon-arrow-right'></span>Next", "Details", "Technology", new { id = Model.TechnologyGuid, start = (int)ViewBag.NextStart, size = 1 }, new { @class = "btn btn-info btn-md" }); }
                            @Html.Raw(HttpUtility.HtmlDecode(next.ToString()))
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
