@model MixupActivity.Models.TechnologyContent

@{
    ViewBag.Title = "Edit";
}

<h2></h2>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        @Html.AntiForgeryToken()

        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-6">
                    Edit Technology Content
                </div>
                <div class="col-lg-offset-6 col-lg-2 col-sm-offset-6 col-sm-2 col-xs-offset-2 col-xs-4">
                    @{ MvcHtmlString label = Html.ActionLink("<span class='glyphicon glyphicon-share-alt'></span>Return", "Details", "Technology", new { id = Model.TechnologyContentGuid }, new { @class = "btn btn-info btn-md" }); }
                    @Html.Raw(HttpUtility.HtmlDecode(label.ToString()))
                </div>

                <a id="like" class="btn btn-info btn-md">
                    <span class='glyphicon glyphicon-share-alt'></span>Like
                </a>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.TechnologyContentGuid)

                <div class="form-group">
                    @Html.LabelFor(model => model.Topic, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Topic)
                        @Html.ValidationMessageFor(model => model.Topic)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea id="summernote" name="Description">
                            @Model.Description
                        </textarea>
                        @*@Html.TextAreaFor(model => model.Description, new { rows = "10" })*@
                        @*@Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)*@
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Example, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea id="exam" name="Example">
                            @Model.Example
                        </textarea>
                        @*@Html.EditorFor(model => model.Example)
                            @Html.ValidationMessageFor(model => model.Example)*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Link, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Link, new { rows = "6", cols = "130", style = "max-width:910px" })
                        @Html.ValidationMessageFor(model => model.Link)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TechnologyGuid, "Technology", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TechnologyGuid", String.Empty)
                        @Html.ValidationMessageFor(model => model.TechnologyGuid)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-1 col-xs-offset-4 col-xs-6">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Details", "Technology", new { id = Model.TechnologyGuid }, null)

</div>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var contentGuidVal = $("#TechnologyContentGuid").val();
        $('#like').click(function () {
            $.getJSON("@Url.Action("LikeContent", "TechnologyContent")",
                { like: true, contentGuid: contentGuidVal },
                function(data) {
                    alert(data);
                });
        });
    });
</script>




