@model List<MixupActivity.Models.DepositReport>
@{
    ViewBag.Title = "Deposit Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table id="dtBasicExample" class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Month")
        </th>
        @foreach (var item in ViewBag.Persons)
        {
            <th>@item.PersonName</th>
        }
        <th>@Html.DisplayName("Total Of Month")</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MonthDesc)
                @*@Html.DisplayFor(modelItem => item.MonthEndDate)*@
            </td>
            @foreach (var user in item.Users)
            {
                <td>@user.Amount</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.TotalOfMonth)
            </td>

        </tr>
    }
</table>
